<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />

<handlers>
	<add name="iisnode" path="CosmosAPI.js" verb="*" modules="iisnode" />
</handlers>
	    
 <compilation debug="true" targetFramework="4.5" />
   <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" />	    

<rewrite>
	<rules>
		<rule name="sendToNode">
			<match url="/*" />
			<action type="Rewrite" url="CosmosAPI.js" />
		</rule>	
	</rules>
</rewrite>	
    </system.webServer>
</configuration>
